# Naive Bayes Classifier
This notebook can be used to train a Naive Bayes classifier using a training set of Quora questions and making predictions on a test set. The data used for this notebook is a Kaggle dataset found [Here](https://www.kaggle.com/c/quora-insincere-questions-classification/data). To follow along with this notebook, please add the 'train.csv' and 'test.csv' to the /data directory of this repository.

In [ ]:
import pandas as pd
import src.NB_Classifier as NB

from sklearn.model_selection import train_test_split

%load_ext autoreload
%autoreload 2

In [29]:
train = pd.read_csv('data/train.csv')
train.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid</th>
      <th>question_text</th>
      <th>target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>00002165364db923c7e6</td>
      <td>How did Quebec nationalists see their province...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>000032939017120e6e44</td>
      <td>Do you have an adopted dog, how would you enco...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0000412ca6e4628ce2cf</td>
      <td>Why does velocity affect time? Does velocity a...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>000042bf85aa498cd78e</td>
      <td>How did Otto von Guericke used the Magdeburg h...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0000455dfa3e01eae3af</td>
      <td>Can I convert montra helicon D to a mountain b...</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
# Extract the training data and corresponding labels
text = train['question_text']
labels = train['target']

# Split into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(text, labels,\
                                                  test_size=0.2)

In [30]:
# Initialize the classifier and train on the training set
classifier = NB.NB_Classifier('data/stopwords.txt')

# Only use words that appear more than 50 times in the dataset
classifier.collect_dictionary(X_train, 50)

classifier.train(X_train, y_train, k=1)

In [33]:
# Evaluate the classifier on the validation set
classifier.evaluate(X_val, y_val)

# Predictions
The remaining code will generate predictions using the test.csv file

In [35]:
test = pd.read_csv('data/test.csv')
test_qs = test['question_text']

In [36]:
test.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid</th>
      <th>question_text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>00014894849d00ba98a9</td>
      <td>My voice range is A2-C5. My chest voice goes u...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>000156468431f09b3cae</td>
      <td>How much does a tutor earn in Bangalore?</td>
    </tr>
    <tr>
      <th>2</th>
      <td>000227734433360e1aae</td>
      <td>What are the best made pocket knives under $20...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0005e06fbe3045bd2a92</td>
      <td>Why would they add a hypothetical scenario tha...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>00068a0f7f41f50fc399</td>
      <td>What is the dresscode for Techmahindra freshers?</td>
    </tr>
  </tbody>
</table>
</div>

In [37]:
preds = classifier.generate_preds(test_qs)
test['predictions'] = pd.Series(preds).values

In [38]:
test.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid</th>
      <th>question_text</th>
      <th>predictions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>00014894849d00ba98a9</td>
      <td>My voice range is A2-C5. My chest voice goes u...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>000156468431f09b3cae</td>
      <td>How much does a tutor earn in Bangalore?</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>000227734433360e1aae</td>
      <td>What are the best made pocket knives under $20...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0005e06fbe3045bd2a92</td>
      <td>Why would they add a hypothetical scenario tha...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>00068a0f7f41f50fc399</td>
      <td>What is the dresscode for Techmahindra freshers?</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
test = test.drop(['question_text'], axis=1)

In [76]:
test.to_csv('data/bmmidei_NB_Submission_1', index=False)