In [26]:
import pandas as pd
import src.NB_Classifier as NB

from sklearn.model_selection import train_test_split

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
train = pd.read_csv('data/train.csv')
train.head()

In [30]:
classifier = NB.NB_Classifier('data/stopwords.txt')

In [28]:
text = train['question_text']
labels = train['target']
X_train, X_val, y_train, y_val = train_test_split(text, labels,\
                                                  test_size=0.2)

In [31]:
classifier.collect_dictionary(X_train, 100)

In [33]:
classifier.train(X_train, y_train, k=1)

In [35]:
classifier.evaluate(X_val, y_val)

0.9281462340893866

In [68]:
test = pd.read_csv('data/test.csv')
test_qs = test['question_text']

In [69]:
test.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid</th>
      <th>question_text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>00014894849d00ba98a9</td>
      <td>My voice range is A2-C5. My chest voice goes u...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>000156468431f09b3cae</td>
      <td>How much does a tutor earn in Bangalore?</td>
    </tr>
    <tr>
      <th>2</th>
      <td>000227734433360e1aae</td>
      <td>What are the best made pocket knives under $20...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0005e06fbe3045bd2a92</td>
      <td>Why would they add a hypothetical scenario tha...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>00068a0f7f41f50fc399</td>
      <td>What is the dresscode for Techmahindra freshers?</td>
    </tr>
  </tbody>
</table>
</div>

In [70]:
preds = classifier.generate_preds(test_qs)
test['predictions'] = pd.Series(preds).values

There are 56370 comments in the test file.

In [71]:
test.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid</th>
      <th>question_text</th>
      <th>predictions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>00014894849d00ba98a9</td>
      <td>My voice range is A2-C5. My chest voice goes u...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>000156468431f09b3cae</td>
      <td>How much does a tutor earn in Bangalore?</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>000227734433360e1aae</td>
      <td>What are the best made pocket knives under $20...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0005e06fbe3045bd2a92</td>
      <td>Why would they add a hypothetical scenario tha...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>00068a0f7f41f50fc399</td>
      <td>What is the dresscode for Techmahindra freshers?</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [77]:
test = test.drop(['question_text'], axis=1)

KeyError: "['question_text'] not found in axis"

In [76]:
test.to_csv('data/bmmidei_NB_Submission_1', index=False)